{% extends 'base.html' %}
{% load static %}


{% block content %}


<div class="grid grid-cols-4 p-4 gap-4">
    {% for password in passwords %}
    <div class="p-2 bg-white-100 rounded shadow-lg shadow-2xl  rounded-lg w-80 h-90">
        <!--Card 1-->


            <div class="actions" >
              <div  class="md:flex md:justify-between font-bold px-2 py-2 text-center">
                <a href="javascript:;" onclick="document.getElementById('send-btn{{password.id}}').click();" class="action-item">Send Data</a>
                <form hidden="true" action="." method="POST">
                    {% csrf_token %}
                    <input type="text" hidden="true" name="password-id" value="{{password.id}}">
                    <input type="submit" id="send-btn{{password.id}}" name="send">
                </form>
                <a href="javascript:;" onclick="document.getElementById('delete-btn{{password.id}}').click();" class="action-item">Delete</a>
                <form hidden="true" action="." method="POST">
                    {% csrf_token %}
                    <input type="text" hidden="true" name="password-id" value="{{password.id}}">
                    <input type="submit" id="delete-btn{{password.id}}" name="delete">
                </form>
                <a title="Send Data" href="" type="submit" name="senddata"
                class="action-item"><svg class="h-8 w-8 text-purple-600"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10" />  <path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2" /></svg></a>
            <a  title="Delete Data" href=""   type="submit" name="deletedata"
                class="action-item"><svg class="h-8 w-8 text-red-600"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <rect x="3" y="3" width="18" height="18" rx="2" ry="2" />  <line x1="9" y1="9" x2="15" y2="15" />  <line x1="15" y1="9" x2="9" y2="15" /></svg></a>
         
              </div>

            <img class="w-24 h-24 rounded-full mx-auto " src="{{password.logo}}" alt="Mountain">
            
            <div class="px-3  justify-center   flex flex-col items-center justify-center pt-8 py-3">

                <div class="name  bold font-awesome text-xl mb-2 p-1 " style="-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;"> {{password.name}}</div>
                <!-- password modal-->
                <input class="p-2 bg-sky-100 rounded shadow-lg shadow-1xlrounded-lg w-70 " type="email" name="email" value="{{password.email}}">
                <input class="p-2  m-2 text-center bg-sky-100 rounded shadow-lg shadow-2xlrounded-lg w-70" type="password" name="username" value="{{password.password}}">

            </div>
            
        </div>
    </div>
    {% endfor %}
</div>

{% if user.is_authenticated %}
{% else %}
<div class="max-w-screen-xl px-4 mx-auto md:px-8">
    <div class="mb-10 md:mb-16">
      <h2
        class="
          mb-4
          text-2xl
          font-bold
          text-center text-gray-800
          lg:text-3xl
          md:mb-6
        "
      >
        Our Team 
      </h2>
  
      <p class="max-w-screen-md mx-auto text-center text-gray-500 md:text-lg">
        We are here to represent our project which is completely built using tailwind and Django. In this website you can store your websites credentials in very secured way nobody ever stored.
      </p>
    </div>
  
    <div class="grid gap-4 md:grid-cols-3">
      <div class="p-4 shadow">
        <div class="h-48 mb-2 overflow-hidden rounded-lg shadow-lg md:h-80">
          <img
            src="https://avatars.githubusercontent.com/u/58821506?s=400&u=2570036f70c2b55844798d6e77e3dae1fbddc2fe&v=4"
            alt="Image"
            class="object-cover object-center w-full h-full"
          />
        </div>
  
        <div class="flex flex-col items-center justify-center">
          <div class="font-bold text-indigo-500 md:text-lg">Vaibhav Gawad</div>
          <p class="mb-3 text-sm text-gray-500 md:text-base md:mb-4">
            Founder / CEO
          </p>
  
          <div class="flex">
            <div class="flex gap-4">
              <a href="#">
                <svg
                  class="w-6 h-6 text-blue-600 fill-current"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"
                  />
                </svg>
              </a>
              <a href="#">
                <svg
                  class="w-6 h-6 text-blue-300 fill-current"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
                  />
                </svg>
              </a>
              <a href="#">
                <svg
                  class="w-6 h-6 text-blue-500 fill-current"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                >
                  <path
                    d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4 shadow">
        <div class="h-48 mb-2 overflow-hidden rounded-lg shadow-lg md:h-80">
          <img
            src="{% static 'siddhi.jpg' %}"
            alt="Image"
            class="object-cover object-center w-full h-full"
          />
        </div>
  
        <div class="flex flex-col items-center justify-center">
          <div class="font-bold text-indigo-500 md:text-lg">Siddhi Save</div>
          <p class="mb-3 text-sm text-gray-500 md:text-base md:mb-4">
            Web Developer
          </p>
  
          <div class="flex">
            <div class="flex gap-4">
              <a href="#">
                <svg
                  class="w-6 h-6 text-blue-600 fill-current"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"
                  />
                </svg>
              </a>
              <a href="#">
                <svg
                  class="w-6 h-6 text-blue-300 fill-current"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
                  />
                </svg>
              </a>
              <a href="#">
                <svg
                  class="w-6 h-6 text-blue-500 fill-current"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                >
                  <path
                    d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4 shadow">
        <div class="h-48 mb-2 overflow-hidden rounded-lg shadow-lg md:h-80">
          <img
            src="https://media-exp1.licdn.com/dms/image/C5603AQFwk5mSh78suA/profile-displayphoto-shrink_400_400/0/1638766046606?e=2147483647&v=beta&t=Cc8QYjLz-jtwkGCIPCpZA-9sn3KrjQheLgUtsh_IlxM"
            alt="Image"
            class="object-cover object-center w-full h-full"
          />
        </div>
  
        <div class="flex flex-col items-center justify-center">
          <div class="font-bold text-indigo-500 md:text-lg">Akash Kushwaha</div>
          <p class="mb-3 text-sm text-gray-500 md:text-base md:mb-4">
            Devops Engineer
          </p>
  
          <div class="flex">
            <div class="flex gap-4">
              <a href="#">
                <svg
                  class="w-6 h-6 text-blue-600 fill-current"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"
                  />
                </svg>
              </a>
              <a href="#">
                <svg
                  class="w-6 h-6 text-blue-300 fill-current"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
                  />
                </svg>
              </a>
              <a href="#">
                <svg
                  class="w-6 h-6 text-blue-500 fill-current"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                >
                  <path
                    d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}



</body>

</html>

{% endblock %}