{% extends 'base.html' %}
{% load static %}


{% block content %}
<form action="" role="form" method="POST">
    {% csrf_token %}
    <div class="min-h-screen bg-gray-100 text-gray-800 antialiased px-4 py-6 flex flex-col justify-center sm:py-12">

        <div class="relative py-3 sm:max-w-xl mx-auto text-center inset-x-96 -inset-y-3">
            <i class="fa fa-key flex flex-col " aria-hidden="true"></i><span class="text-2xl font-medium">URL
                and Password</span>
            <div class="relative mr-34 bg-white shadow-md sm:rounded-lg text-left">
                <div class="h-2 bg-indigo-400 rounded-t-md"></div>
                <div class="py-14 px-16">
                    <label class="block font-semibold">URL<label>
                        <input type="text" placeholder="URL" name="url"
                            class=" border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-indigo-600 rounded-md">
                        <i class="fa fa-clipboard copy" title="copy to clipboard" aria-hidden="true"></i>
                    <label class="block font-semibold">Email<label>
                            <input type="email" placeholder="Email" name="email"
                                class=" border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-indigo-600 rounded-md">
                            <i class="fa fa-clipboard copy" title="copy to clipboard" aria-hidden="true"></i>
                            
                                    <label class="block mt-3 font-semibold">Password<label>
                                            <input type="password" placeholder="Password" name="password"
                                                class=" border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-indigo-600 rounded-md">
                                            <i class="fa fa-clipboard copy" title="copy to clipboard"
                                                aria-hidden="true"></i>
                                            <div class="flex justify-between items-baseline">
                                                <button type="submit" value="login" name="login-model"
                                                    class="mt-4 ml-24 bg-indigo-500 text-white py-2 px-6 rounded-lg hover:scale-125">Register</button>

                                            </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</form>

</body>

</html>
{% endblock %}